body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.hero-section {
    background-image: url("../images/bg14.png");
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    padding: 20px;
}

.hero-text {
    max-width: 1000px;
}

.hero-text h1 {
    font-size: 3rem;
    margin: 10px;
    margin-top: 100px;
    font-family: "Monserrat", sans-serif;
}

.hero-text p {
    font-size: 1.2rem;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.text {
    flex: 1;
    margin-right: 200px;
    text-align: justify;
}

.image img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
